h1 {
  text-align: center;
  color: red;
}

h3 {
  text-align: center;
}

footer{
  padding: 5px;
  text-align: center;
}

img {
  width: 1000px;
  height: 200px;
}

audio{
    width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}




